/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-content {
    margin-left: 5px;
    margin-right: 20px;
    width: 300%;
}

.right-content {
   width: 450%;
}

input[type="text"] {
    width: 200%;
  /*height: 100vh; /* 100% chiều cao của viewport */
  background-color: #f0f0f0; /* Màu nền cho ví dụ */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  margin-left: 5px;
}
input[type="file"]
{
    margin-left: 5px;
}

